:root {
    --firstcolor: #1EA9FE;
    --secondcolor: #22233b;
}

* {
    font-family: muli;
}

body {}

.home {
    background: url("../images/header-bg-3.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    position: relative;
    z-index: 1;
}

.home-container::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../images/home-mobile-3.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    z-index: -777;
    background-position: right center;
}

.navbar {
    padding: 0;
    position: fixed;
    left: 0;
    background-color: #003073 !important;
    box-shadow: none;
    z-index: 111;
}

.nav-link {
    font-size: 16px;
    font-weight: 600 !important;
    padding: 30px 20px !important;
}

.nav-item.active .nav-link {
    background: none !important;
    color: #1ea9fe !important;
}

.nav-link:hover {
    color: #1ea9fe !important;
}

.button {
    background-color: #1EA9FE;
    border: none;
    color: #fff;
    padding: 15px 40px;
    font-size: 16px;
    transition: .3s all;
}

.button:hover {
    color: var(--firstcolor);
    background: #fff;
    transition: .3s all;
}


.home-content {
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* bottom: 0; */
}

.home-content p {
    font-weight: 400;
    font-size: 16px;
}

.home-content h1 {
    word-break: break-all;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.5;
}

.bttn {
    display: inline-block;
    overflow: auto;
    background-color: #22233b;
    color: #fff !important;
    font-size: 24px;
    transition: .5s all;
}

.bttn img {
    width: 30px;
}

.bttn strong {
    font-size: 18px;
    color: #fff;
}

.bttn small {
    color: #fff;
}

.bttn:hover {
    color: #fff;
    background-color: var(--firstcolor);
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
    transition: .5s all;
}

/*about part*/
.about > .row {
    padding: 120px 0;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

.about-header {
    height: 80px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/service-shape-1.png);
    background-size: auto 100%;
}

.two {
    background-image: url(../images/service-shape-2.png);
}

.three {
    background-image: url(../images/service-shape-3.png);
}

.about-col {
    margin-top: 80px;
}

.about-header .zmdi {
    line-height: 80px;
    font-size: 25px;
    color: #fff;
}

.about-header + h3 {
    font-size: 24px;
    font-weight: 700;
}


.about p {
    font-size: 16px;
    font-weight: 400;
}

.about-img img {
    width: 100%;
}


.about h3 {
    font-size: 24px;
    font-weight: 700;
}

.about p {
    color: #56576e;
}

.about-right-col2 {
    background-image: url(../images/space-2.png);
}

.about-right-col3 {
    background-image: url(../images/space-3.png);
}

.icon-text {
    line-height: 80px;
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #fff !important;
}

.icon-text + p {
    font-size: 22px;
    font-weight: 700;
}

/*reason why love lunatic*/
.lunatic-main {
    margin-top: 80px;
}

.lunatic-grid {
    height: 100%;
    box-shadow: 0 0 30px -12px #c9c9c9;
    /*    padding-left: 35px;*/
    transition: .3s all;
}

.lunatic-grid:hover {
    transform: translateY(-5px);
    transition: .3s all;
    box-shadow: 0 0 30px -5px #c9c9c9;
}

.love-icon {
    height: 60px;
    width: 60px;
    margin-top: 30px;
    background-color: #2D5BAF;
    color: #fff;
    font-size: 20px;
}

.lunatic-2 {
    background-color: #23A8C0;
}

.lunatic-3 {
    background-color: #8822BF;
}

.lunatic-4 {
    background-color: #C02383;
}

.lunatic-5 {
    background-color: #E09F25;
}

.lunatic-6 {
    background-color: #22BF88;
}


/*video part*/
.video-col {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.video-col img {
    width: 100%;
}

.video-col .zmdi {
    padding-left: 6px;
}

.video-col button {
    color: #fff;
    font-size: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100px;
    transition: .3s all;
    border: none;
    background-color: var(--firstcolor);
}

.video-col button:hover {
    transition: .3s all;
    background-color: #fff;
    color: var(--firstcolor);
    box-shadow: 0 0 50px -10px #6858db;
}

.video-main {
    display: none;
    height: 200vh;
    position: absolute;
    width: 100vw;
    background-image: linear-gradient(rgba(1, 1, 1, .7), rgba(1, 1, 1, .7));
}

.close {
    color: #fff !important;
}


/*features part*/
.features-grid {
    margin-top: 100px;
}

.features-main {
    width: 20%;
    float: left;
    transform: translateY(-10px);
}

.features h4 {
    font-size: 22px;
    font-weight: 700;
}

.features-inner {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    transition: .3s all;
}

.features-next {
    transform: translateY(-40px);
}

.features-inner:hover {
    transform: translateY(-5px);
    transition: .3s all;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
}

/*lunatic screenshots*/

.item {
    width: 20%;
    float: left;
}

.lunatic-row h2 {
    margin: 150px auto 50px;
}

.item img {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.arrow {
    color: #111;
    font-size:
        50px;
}

.arrow-area {
    margin: 0 auto -50px;
    position: absolute;
    top: auto;
    bottom: 0;
    /* left: 100px; */
    right: 0;
    display: inline-block;
    width: 50%;
    justify-content: start;
    text-align: left;
}

.arrow-area1 {
    margin: 0 auto -50px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    /* right: 100px; */
    display: inline-block;
    width: 50%;
    justify-content: end !important;
    text-align: right;
}

.carousel-indicators {
    bottom: auto;
    transform: translateY(70px);
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    background-color: grey;
}

.carousel-indicators li.active {
    background-color: var(--firstcolor);
}


/*gallery part*/
.gallery {
    margin-top: 150px;
}

.gallery-inner {
    padding: 50px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    transition: .3s all;
}

.gallery-inner h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--firstcolor);
}

.gallery-inner h4 {
    font-size: 18px;
    font-weight: 700;
}

.gallery-inner ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

.gallery-inner ul li {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #56576e;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

.gallery-inner ul li::before {
    content: url(../images/check.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.gallery-inner a {
    font-weight: 700;
    color: var(--firstcolor);
    width: 100% !important;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border: 1px solid var(--firstcolor);
}

.gallery-inner:hover {
    transform: translateY(-10px);
    transition: .3s all;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
}

.gallery-inner a:hover {
    background-color: var(--firstcolor);
    color: #fff;
}

.team {
    margin-top: 70px;
    position: relative;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 300px 300px 10px 10px;
    transition: .3s all;
}

.team:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    transition: .3s all;
}

.team-main .carousel-indicators {
    bottom: 0;
}

.team-content {
    bottom: 0;
    left: 0;
    right: 0;
}

.team > .team-img {
    /*    position: absolute;*/
    top: -50%;
    width: 100%;
}

.team h3 {
    font-size: 18px;
    font-weight: 700;
}

.team p {
    font-weight: 400;
}

.quotes {
    display: block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 60px 60px 80px;
}

.quotes-icon {
    height: 50px;
    width: 50px;
    position: relative;
}

.quotes-icon::before {
    content: '\f1b2';
    font-family: 'Material-Design-Iconic-Font';
    color: var(--firstcolor);
    position: absolute;
    top: 0;
    right: 100%;
    margin-top: 20px;
    font-size: 40px;
    height: 100%;
    width: 100%;
}

.writer {
    color: var(--firstcolor);
    font-weight: 400;
}

.team-main .arrow {
    font-size: 30px;
}




















/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .home-content h1 {
        word-break: break-all;
        font-size: 28px;
        font-weight: 800;
        line-height: 1.5;
    }

    .home-container {
        position: none !important;
    }

    .home-container::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: none;
        background-repeat: no-repeat;
        background-size: auto 80%;
        z-index: -777;
        background-position: right center;
    }

    .home {
        position: relative;
    }

    .home::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: url(../images/home-mobile-3.png);
        background-repeat: no-repeat;
        background-size: auto 90%;
        z-index: -777;
        background-position: right center;
    }

    .home-btn {
        display: inline-block;
    }

    .bttn img {
        width: 20px;
    }

    .navbar > .container {
        padding: 10px 15px;
    }

    h2 {
        font-size: 25px;
        font-weight: 700;
    }

    .about-col-responsive {
        margin-top: 80px !important;
    }

    .about-col {
        margin-top: 0;
    }

    .lunatic-main {
        margin-top: 1.5rem;
    }

    .responsive {
        margin-top: 50px;
    }

    .video-col button {
        color: #fff;
        font-size: 30px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        width: 70px;
        transition: .3s all;
        border: none;
        background-color: var(--firstcolor);
    }

    .video-col .zmdi {
        padding: 0;
    }

    .video-main iframe {
        height: 200px;
    }

    .features-main {
        width: 33.33%;
        float: left;
    }

    .features-tab {
        display: none;
    }

    .item {
        width: 33.33%;
        float: left;
    }

    .carousel-indicators li {
        width: 12px !important;
        height: 12px !important;
        background-color: grey;
    }

    .team {
        margin-top: 30px;
    }

    .team-mob {
        margin-top: 50px;
    }

    .team-content p {
        font-size: 14px;
    }

    .quotes {
        display: block;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        padding: 20px 15px;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .home-btn {
        display: inline-block;
    }

    .bttn img {
        width: 20px;
    }

    .lunatic-main {
        margin-top: 1.5rem;
    }

    .responsive-tab {
        margin-top: 50px;
    }
    .item {
        width: 33.33%;
        float: left;
    }

    .features-main {
        width: 33.33%;
        float: left;
    }

    .features-tab {
        display: none;
    }
    .quotes {
        display: block;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        padding: 30px 20px 20px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}
